Piyaporn Puangprasert and Rupinder Kaur Gurpinder Singh

In [36]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import tensorflow as tf

from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

## Model 0 -set up the download file

In [37]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [38]:
train

,SalePrice,LotFrontage,LotArea,Street,LotShape,YearBuilt,BsmtUnfSF,TotalBsmtSF,CentralAir,X1stFlrSF,...,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF
0,163990,65,8461,Pave,Reg,2005,728,728,Y,728,...,2,1,3,1,8,1,2005,2,390,0
1,412500,110,13688,Pave,IR1,2003,556,1572,Y,1572,...,2,1,3,1,10,2,2003,3,726,400
2,126000,60,8160,Pave,Reg,1940,444,756,N,756,...,1,1,3,1,7,0,1940,1,240,0
3,280000,109,14154,Pave,Reg,2006,1063,1063,Y,1071,...,2,1,3,1,9,1,2006,3,947,192
4,105000,51,6120,Pave,Reg,1931,506,715,Y,875,...,1,0,2,1,5,0,1931,1,180,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,199900,35,4274,Pave,IR1,2006,135,1241,Y,1241,...,1,1,1,1,4,0,2007,2,569,0
897,241500,73,39104,Pave,IR1,1954,96,1385,Y,1363,...,1,0,2,1,5,2,1954,2,439,81
898,270000,75,9000,Pave,Reg,2006,1088,1088,Y,1088,...,2,1,3,1,8,1,2006,3,1025,208
899,240000,50,14859,Pave,IR1,2006,1670,1670,Y,1670,...,2,0,3,1,7,1,2006,3,690,144
900,179600,63,8500,Pave,Reg,2004,1422,1422,Y,1422,...,2,0,3,1,7,0,2004,2,626,192

In [39]:


# Check the data types of each column in the train dataframe
train_dtypes = train.dtypes
print("Train dataframe column data types:")
print(train_dtypes)

# Check the number of rows and columns in the test dataframe
test_rows, test_cols = test.shape
print("Test dataframe has {} rows and {} columns".format(test_rows, test_cols))

# Check the data types of each column in the test dataframe
test_dtypes = test.dtypes
print("Test dataframe column data types:")
print(test_dtypes)

,SalePrice,LotFrontage,LotArea,Street,LotShape,YearBuilt,BsmtUnfSF,TotalBsmtSF,CentralAir,X1stFlrSF,...,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF
0,223500,68,11250,Pave,IR1,2001,434,920,Y,920,...,2,1,3,1,6,1,2001,2,608,0
1,143000,85,14115,Pave,IR1,1993,64,796,Y,796,...,1,1,1,1,5,0,1993,2,480,40
2,159000,66,13695,Pave,Reg,2004,468,1114,Y,1114,...,1,1,3,1,6,0,2004,2,576,0
3,139000,70,7560,Pave,Reg,1958,525,1029,Y,1339,...,1,0,3,1,6,0,1958,1,294,0
4,40000,50,8500,Pave,Reg,1920,649,649,N,649,...,1,0,3,1,6,0,1920,1,250,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,142000,80,10721,Pave,IR1,1959,1252,1252,Y,1252,...,1,0,3,1,7,0,1960,2,528,0
222,192140,60,21930,Pave,IR3,2005,732,732,Y,734,...,2,1,4,1,7,1,2005,2,372,100
223,174000,80,8400,Pave,Reg,1962,1319,1319,Y,1537,...,1,1,3,1,7,1,1962,2,462,0
224,129000,70,8400,Pave,Reg,1966,0,814,Y,913,...,1,0,3,1,6,0,1990,1,240,0
225,240000,80,10000,Pave,Reg,1995,141,1220,Y,1220,...,2,1,3,1,8,1,1995,2,556,0

In [40]:
# Check the number of rows and columns in the train dataframe
train_rows, train_cols = train.shape
print("Train dataframe has {} rows and {} columns".format(train_rows, train_cols))

Train dataframe has 901 rows and 24 columns

In [41]:
# Add logSalePrice column
train['logSalePrice'] = np.log(train['SalePrice'])
test['logSalePrice'] = np.log(test['SalePrice'])

# Drop the first column from both datasets
train = train.iloc[:, 1:]
test = test.iloc[:, 1:]

In [42]:
# Prepare the training data
X_train = train.drop('logSalePrice', axis=1)
y_train = train['logSalePrice']

In [43]:
# Prepare the testing data
test_1 = test.drop(test.columns[2], axis=1)
X_test = test_1.drop('logSalePrice', axis=1)
X_test['StreetPave'] = 1
y_test = test_1['logSalePrice']